.idea
*.iml
/target
# idea
#*.idea
#*.iml
*.ipr
*.iws

# gradle
.gradle/

# Avoid ignore gradle wrapper jar
!gradle-wrapper.jar

# ignore Maven wrapper jar
maven-wrapper.jar

# eclipse
.classpath
.project
.settings/
.sts4-cache/
#target/
build/
out/
bin/

# Mac index file
.DS_Store
**/.DS_Store

#vscode
.vscode/*

# Log file
*.log

# Temp files
~$*.xlsx
*.lock
*.swap

